#top-banner{
    width: 100%;
    height: 35px;
    background-image: url(/img/b43481f5-cf66-4e2d-a5cc-1dd1bc73dfb9.jpg);
}

#top-banner span{
    margin-left: 43%;
}

#header{
    width: 100%;
    height: 100px;
}

body{
    padding: 0;
    margin: 0;
}

#r1170{
    width: 1170px;
    height: 100px;
    margin: 0 auto;
}

#bakhshe1 , #bakhshe2{
    width: 100%;
    height: 50%;
    position: relative;
}

#bakhshe1 .class1, .class2{
    font-family: tahoma;
    font-size: 14px;
    float: right;
    margin-top: 15px;
}

#bakhshe1 .class1 img{
    float: right;
    margin: 1px 0 0 5px;
}

#bakhshe1 .class2 img{
        float: right;
        margin: 1px 50px 0 5px;
}

#bakhshe1 #top-logo img{
    position: absolute;
    left: 20px;
    top: 27px;
    z-index: 1;
}

a{
    text-decoration: none;
    color: initial;
}

a:hover{
    color: red;
}

#sabadekharid{
    background-color: #53b357;
    width: 190px;
    height:40px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

#sabadekharid:hover{
    background-color: #46A349;
}

#bakhshe2 #shopcart{
    float: right;
    background-color: #3fff2f;
    width: 22%;
    height: inherit;
}

#bakhshe2 #shopcart img{
	width: 31px;
	height: 31px;
	margin-left: 5px;
	margin-top: 4px;
}

#matn{
    font-family: tahoma;
    font-size: 15px;
    color: #fff;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

#tedad{
    float: right;
    background-color: #3fff2f;
    border-radius: 100%;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 12px;
    margin-top: 10px;
}

#bakhshe2 input{
    float: right;
    width: 465px;
    height: 34px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-right: 10px;
    direction: rtl;
    border-radius: 0 5px 5px 0;
}

#search #button{
	background-color: #8A8F9C;
    float: right;
    width: 39px;
    height: 39px;
	margin-top: 6px;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}

#search #button:hover{
    background-color: #7F7B7B;
}

#search #button img{
    width: 39px;
    height: 39px;
}

#top-menu{
    width: 100%;
    height: 40px;
    background-color: #EEEEEE;
}

#r2-1170{
    width: 1170px;
    height: 40px;
    margin: 0 auto;
}

ul{
    margin: 0;
    padding: 0;
}

#top-menu #r2-1170 ul li{
    list-style: none;
    float: right;
    font-family: tahoma;
    font-size: 14px;
    padding: 10px 30px;
    cursor: pointer;
}

#top-menu #r2-1170 ul li:hover{
    color: red;
    background-color:#fff;
    
}

#top-menu #r2-1170 ul span{
    display: inline-block;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: -35px;
    margin-top: 6px;
    cursor: pointer;
}