#header{
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 100px;
}

body{
    padding: 0;
    margin: 0;
}

#r1170{
    background-color: blue;
    width: 1170px;
    height: 100px;
    margin: 0 auto;
}

#bakhshe1{
    background-color: yellow;
    width: 100%;
    height: 50%;
}

#bakhshe2{
    background-color: goldenrod;
    width: 100%;
    height: 50%;
}

#bakhshe1>span{
    font-family: tahoma;
    font-size: 14px;
    float: right;
    margin-top: 15px;
}

#bakhshe1>span>img{
        float: right;
        margin-top: 1px;
        margin-left: 5px;
}

a{
    text-decoration: none;
    color: initial;
}