#top-banner{
    width: 100%;
    height: 35px;
    background-image: url(/img/b43481f5-cf66-4e2d-a5cc-1dd1bc73dfb9.jpg);
}

#top-banner span{
    margin-left: 43%;
}

#header{
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 100px;
}

body{
    padding: 0;
    margin: 0;
}

#r1170{
    background-color: blue;
    width: 1170px;
    height: 100px;
    margin: 0 auto;
}

#bakhshe1{
    background-color: yellow;
    width: 100%;
    height: 50%;
}

#bakhshe2{
    background-color: goldenrod;
    width: 100%;
    height: 50%;
}

#bakhshe1>span{
    font-family: tahoma;
    font-size: 14px;
    float: right;
    margin-top: 15px;
}

#bakhshe1>span>img{
        float: right;
        margin-top: 1px;
        margin-left: 5px;
}

a{
    text-decoration: none;
    color: initial;
}

a:hover{
    color: red;
}

#sabadekharid{
    background-color: #53b357;
    width: 190px;
    height:40px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

#sabadekharid:hover{
    background-color: #46A349;
}

#bakhshe2 #shopcart{
    float: right;
    background-color: #3fff2f;
    /* border-radius: 0 5px 5px 0; */
    width: 22%;
    height: inherit;
}

#bakhshe2 #shopcart img{
	width: 31px;
	height: 31px;
	margin-left: 5px;
	margin-top: 4px;
}

#matn{
    font-family: tahoma;
    font-size: 15px;
    color: #fff;
    /* font-weight: bold; */
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

#tedad{
    float: right;
    background-color: #3fff2f;
    border-radius: 100%;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 12px;
    margin-top: 10px;
}

#bakhshe2 input{
    float: right;
    width: 465px;
    height: 34px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-right: 10px;
    direction: rtl;
    border-radius: 0 5px 5px 0;
}

#search #button{
	background-color: #8A8F9C;
    float: right;
    width: 39px;
    height: 39px;
	margin-top: 6px;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}

#search #button:hover{
    background-color: #7F7B7B;
}

#search #button img{
    width: 39px;
    height: 39px;
}